.font-impact {
	font-family: "Impact";
	font-weight: 50;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fade-250ms {
	-webkit-animation: fadein 0.25s;
	   -moz-animation: fadein 0.25s;
		 -o-animation: fadein 0.25s;
			animation: fadein 0.25s;
}

.fade-500ms {
	-webkit-animation: fadein 0.50s;
	   -moz-animation: fadein 0.50s;
		 -o-animation: fadein 0.50s;
			animation: fadein 0.50s;
}

.fade-750ms {
	-webkit-animation: fadein 0.75s;
	   -moz-animation: fadein 0.75s;
		 -o-animation: fadein 0.75s;
			animation: fadein 0.75s;
}

.fade-1000ms {
	-webkit-animation: fadein 1.00s;
	   -moz-animation: fadein 1.00s;
		 -o-animation: fadein 1.00s;
			animation: fadein 1.00s;
}

.fade-1500ms {
	-webkit-animation: fadein 1.50s;
	   -moz-animation: fadein 1.50s;
		 -o-animation: fadein 1.50s;
			animation: fadein 1.50s;
}

html,
body {
	height: 100%;
	font-family: 'Ubuntu', sans-serif;
}

.content {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.no-margin-top {
	margin-top: 0
}

.navbar-right {
	margin: 5 auto;
}

.btn
{
	margin-top: 5px auto;
}

.btn-margin-left {
	margin-left: 5px;
}

.btn-margin-right {
	margin-right: 3px;
}

.navbar-nav > li {
	padding-left:3px;
	padding-right:3px;
}

.btn-padding-top {
	padding-top:7px;
}

.form-control-lg {
	min-height: 46px;
	border-radius: 6px;
	font-size: 18px;
	line-height: normal;
}

.table-addons {
	padding-left: 20px;
	padding-right: 20px;
}

/* "Category" */
.table-categories td:nth-child(3n+1) {
	font-size: large;
	font-weight: 500;
}

.table-categories thead {
	font-size: x-large;
}

/* "Files" */
.table-categories td:nth-child(3n+0), .table-categories th:nth-child(3n+0) {
	text-align: right;
}

.table a {
	color: #555;
}

.table a:link {
	text-decoration: none;
	font-weight: 500;
}

.table-categories .text-muted {
	font-size: small;
	padding-left: 0px;
}

.table-details td:nth-child(2n+1) {
	font-weight: 500;
}

.icon {
	vertical-align: center;
	padding-right: 12px;
}

.search {
	padding-bottom: 30px;
}

tr.separated td {
	border-bottom: 2px solid #d6d6d6 !important;
}

@media (min-width: 992px) {
	.content {
    	margin-top: 20px;
	}
}

.screenshot {
	max-width: 128px;
}

.table-category td, .table-category th {
	text-align: center;
}

.table-category td:nth-child(6n+1), .table-category th:nth-child(6n+1) {
	text-align: left;
}

* { border-radius: 0px !important; }

.blchat {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: 'Palatino Linotype';
	font-size: large;
}

.blchat .c0 {
	color: rgb(255, 0, 64);
}

.blchat .c1 {
	color: rgb(64, 64, 255);
}

.blchat .c2 {
	color: rgb(0, 255, 0);
}

.blchat .c3 {
	color: rgb(255, 255, 0);
}

.blchat .c4 {
	color: rgb(0, 255, 255);
}

.blchat .c5 {
	color: rgb(255, 0, 255);
}

.blchat .c6 {
	color: rgb(255, 255, 255);
}

.blchat .c7 {
	color: rgb(96, 96, 96);
}

.blchat .c8 {
	color: rgb(0, 0, 0);
}
.svg-icon {
	width: 48px;
	height: 48px;
	fill: #555555;
}
tr:hover #gamemodes { fill:seagreen; transition: 0.2s; }
tr:hover #frameworks { fill:darkslategray; transition: 0.2s; }
tr:hover #tools { fill:steelblue; transition: 0.2s; }
tr:hover #weapons { fill:maroon; transition: 0.2s; }
tr:hover #vehicles { fill:slateblue; transition: 0.2s; }
tr:hover #bricks { fill:firebrick; transition: 0.2s; }
tr:hover #prints { fill:indigo; transition: 0.2s; }
tr:hover #playertypes { fill:sienna; transition: 0.2s; }
tr:hover #sounds { fill:darkviolet; transition: 0.2s; }
tr:hover #effects { fill:goldenrod; transition: 0.2s; }
tr:hover #events { fill:orangered; transition: 0.2s; }
tr:hover #server { fill:teal; transition: 0.2s; }
tr:hover #colors { fill:deeppink; transition: 0.2s; }
tr:hover #client { fill:cadetblue; transition: 0.2s; }
tr:hover #decals { fill:yellowgreen; transition: 0.2s; }
tr:hover #music { fill:skyblue; transition: 0.2s; }
tr:hover #misc { fill:#001122; transition: 0.2s; }
