* {
    font-family: "OCR A Extended";
    color: #fff;
    font-size: 2.5vmin;
}
body {
    margin: 0px;
    background-image: url("starfield.jpg");
    background-position: center;
    background-size: cover;
    background-color: #0d1019;
}

.map, .map-hi {
    position: fixed;
    max-width: 1024px;
    width: 53.33%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border: 4px solid #fff;
}

.map-hi {
    max-width: 8192px;
    width: 95%;
}

.tech {
    position: fixed;
    height: 90%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border: 4px solid #fff;
}

.left, .right, .top, .bottom, .bottom-hi {
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    border: 4px solid #fff;
    padding: 8px;
}

.left {
    width: 20%;
    height: 63.33%;
    top: 50%;
    left: 0%;
    -webkit-transform: translate(0%,-50%);
    -moz-transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
    -o-transform: translate(0%,-50%);
    transform: translate(0%,-50%);
    border-left: none;
}

.right {
    width: 20%;
    height: 63.33%;
    top: 50%;
    right: 0%;
    -webkit-transform: translate(0%,-50%);
    -moz-transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
    -o-transform: translate(0%,-50%);
    transform: translate(0%,-50%);
    border-right: none;
}

.top {
    width: 70%;
    height: 10%;
    top: 0%;
    left: 50%;
    -webkit-transform: translate(-50%,0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%,0%);
    padding: 16px;
    border-top: none;
    line-height: 0px;
    text-align: center;
}

h1 {
    font-size: 9vmin;
    font-weight: normal;
}

.bottom {
    width: 70%;
    height: 10%;
    bottom: 0%;
    left: 50%;
    -webkit-transform: translate(-50%,0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%,0%);
    padding: 16px;
    border-bottom: none;

    text-align: center;
}

.bottom-hi {
    width: 12.5%;
    height: 5%;
    bottom: 0%;
    left: 50%;
    -webkit-transform: translate(-50%,0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%,0%);
    border-bottom: none;
    background-color: rgba(0,0,0,1);
    text-align: center;
}

a:link, a:visited, a:hover {
    color: #4fc3f7;
}

a:active {
    color: #fff;
}

@font-face {
    font-family: "OCR A Extended";
    src: url("ocraextended.ttf");
}
